
.env

loopstest.py
test.py
free_keys.txt
.DS_Store
__pycache__/testing.cpython-311.pyc
__pycache__/stocks.cpython-311.pyc
guitest.py
ai_output.txt
question.py
uhh.py
Untitled.jpeg
background.jpeg
bs4testing.py
file.txt
Forecast.txt
lmao.html
lmao.py
lol.html
moretesting.py
radiolist.txt
rfdshuj.py
saved_html.html
takingcontrol.py
virustesting.py
weather.mp3
youaredonefor.py
__pycache__/virustesting.cpython-311.pyc
takingcontrol.py
